<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"> 
    <title>Welcome to FindMyFamily</title>
</head>
<body>
    <h2>Welcome to FindMyFamily</h2>
	<h4>Always know about your loved ones' whereabouts. Live worry-free.</h4>
	<a href="https://www.github.com/utkershrajvenshi/findmyfamily" id="view-project-btn">
        <button type="button">View Project on GitHub</button>
    </a>
    <p>FindMyFamily is an open-source alternative to popular group-location tracking applications like <a href="https://play.google.com/store/apps/details?id=com.life360.android.safetymapd">Life360 Family Locator</a> and <a href="https://play.google.com/store/apps/details?id=com.glympse.android.glympse">Glympse</a>.</p>
    <br>
    <div id="features-list">
        <strong>Features:</strong>
        <ul>
            <li>
                Real-time Location Tracking
            </li>
            <li>
                Add, remove members from the family group
            </li>
            <li>
                Easy authorization with Google OAuth
            </li>
            <li>
                Add upto 16 members in a group
            </li>
            <li>
                <p class="coming-soon">Coming Soon: </p>Share location information with contacts
            </li>
            <li>
                <p class="coming-soon">Coming Soon: </p>Chat, connect with group members in the app
            </li>
        </ul>
    </div>
</body>
</html>